@font-face {
  font-family: JetBrains Mono;
  src: local("/assets/fonts/JetBrainsMono-Regular.ttf");
}

body {
  font-family: "JetBrains Mono", monospace;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.post-meta-tag {
    display: inline-block;
    vertical-align: baseline;
    border-radius: var(--radius);
    border: 1px solid var(--border);
    color: var(--secondary);
    background: var(--code-bg);
    padding-right: 0.6em;
    padding-left: 0.6em;
}